<div class="app-cover">
  <h1>ENTRY TEST 2 - QKIT</h1>
  <h6 class="fw-bold text-danger">Question 1A: Component in Angular</h6>
  <div class="com-1A-sec d-flex justify-content-space-around">
    <app-com-1-a-a></app-com-1-a-a>
    <app-com-1-a-b></app-com-1-a-b>
  </div>

  <h6 class="fw-bold text-danger">Question 1B: Angular lifecycle</h6>
  <app-com-1-b-a></app-com-1-b-a>

  <h6 class="fw-bold text-danger">Question 1C: View encapsulation</h6>
  <div class="ques-1C-cover d-flex">
    <app-com-1-c-1></app-com-1-c-1>
    <app-com-1-c-2></app-com-1-c-2>
  </div>

  <h6 class="fw-bold text-danger">Question 1D: Component interactions (Use EventEmitter)</h6>
  <app-com-1-d-1></app-com-1-d-1>

  <h6 class="fw-bold text-danger">Question 1E: Component communication (Use Observable)</h6>
  <app-com-1-e-1></app-com-1-e-1>
  <app-com-1-e-2></app-com-1-e-2>
</div>