<div class="app-cover">
  <h1>ENTRY TEST 2 - QKIT</h1>
  <h6 class="fw-bold text-danger">Question 1A: Component in Angular</h6>
  <div class="com-1A-sec d-flex justify-content-space-around">
    <app-com-1-a-a></app-com-1-a-a>
    <app-com-1-a-b></app-com-1-a-b>
  </div>

  <h6 class="fw-bold text-danger">Question 1B: Angular lifecycle</h6>
  <app-com-1-b-a></app-com-1-b-a>

  <h6 class="fw-bold text-danger">Question 1C: View encapsulation</h6>
  <div class="ques-1C-cover d-flex">
    <app-com-1-c-1></app-com-1-c-1>
    <app-com-1-c-2></app-com-1-c-2>
  </div>

  <h6 class="fw-bold text-danger">Question 1D: Component interactions (Use
    EventEmitter)</h6>
  <app-com-1-d-1></app-com-1-d-1>

  <h6 class="fw-bold text-danger">Question 1E: Component communication (Use
    Observable)</h6>
  <app-com-1-e-1></app-com-1-e-1>
  <app-com-1-e-2></app-com-1-e-2>

  <h6 class="fw-bold text-danger">Question 1F: Content projection (slot)</h6>
  <p class="text-primary mb-0">+ Single-slot content projection</p>
  <app-single-content>
    <p>This is content for Single-slot content projection</p>
  </app-single-content>

  <p class="text-primary mb-0">+ Multi-slot content projection</p>
  <app-multi-content>
    <p id="p1"> <strong>Id - (#p1)</strong> This is content for Multi-slot
      content projection</p>
    <p ngProjectAs="label"> <strong>(ngProjectAs="label")</strong> This is
      content for Multi-slot content projection</p>
    <p class="p3"> <strong>Class - (.p3)</strong> This is content for Multi-slot
      content projection</p>
  </app-multi-content>

  <p class="text-primary mb-0">+ Conditional content projection</p>
  <app-conditional-content></app-conditional-content>

  <h6 class="fw-bold text-danger mt-4">Question 2A: Text interpolation</h6>
  <app-com-2-a-1></app-com-2-a-1>

  <h6 class="fw-bold text-danger mt-4">Question 2B: Handel event</h6>
  <app-com-2-b-1></app-com-2-b-1>

  <h6 class="fw-bold text-danger mt-4">Question 2C: Binding data</h6>
  <app-com-2-c-1></app-com-2-c-1>

  <h6 class="fw-bold text-danger mt-4">Question 2D: Pipes</h6>
  <app-com-2-d-1></app-com-2-d-1>

  <h6 class="fw-bold text-danger mt-4">Question 2E: Directives</h6>
  <app-com-2-e-1></app-com-2-e-1>
  
</div>