<div class="container">
  <form class="sign-in-form mt-4" [formGroup]="signInForm">
    <h2>Sign in</h2>
    <div class="row-control d-flex">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" formControlName="username"
          (input)="usernameChange()" (blur)="usernameChange()"/>
      </mat-form-field>
      <small>{{ usernameError ? '* ' + usernameError : '' }}</small>
    </div>

    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Password"
          (input)="passwordChange()"
          (blur)="passwordChange()"
          formControlName="password" />
      </mat-form-field>
      <small>{{ passwordError ? '* ' + passwordError : '' }}</small>
    </div>
    
    <!-- {{signInForm.controls.password.errors | json}} -->
    <div class="row-control">
      <mat-checkbox formControlName="rememberMe">Remember me</mat-checkbox>
    </div>
    <div class="row-control row-actions">
      <button mat-raised-button color="primary" type="submit">Sign in</button>
    </div>
  </form>

  <pre>
    <!-- {{signInForm.value | json}} -->
  </pre>
</div>